Repository ROCm/Tensile, pull requests merged in 2024-06, with the labels that each got.

#1924 Adds TensileCreateLibrary cli reference docs
  Tensile/TensileCreateLibrary.py
  docs/sphinx/_toc.yml.in
  docs/src/cli-reference.rst
  docs/src/cli-reference/TensileCreateLibrary.rst
  docs/src/getting-started.rst
Labels: Documentation, ci:docs-only

#1929 Analytical grid size prediction model for Stream-K
  Tensile/Common.py
  Tensile/Source/lib/include/Tensile/ContractionSolution.hpp
  Tensile/Source/lib/include/Tensile/Debug.hpp
  Tensile/Source/lib/source/ContractionSolution.cpp
  Tensile/Source/lib/source/Debug.cpp
Labels: gfx942

#1920 Move from hipcc to amdclang
  .jenkins/common.groovy
  HostLibraryTests/hip/CMakeLists.txt
  Tensile/ClientExecutable.py
  Tensile/Common.py
  Tensile/GenerateSummations.py
  Tensile/KernelWriterSource.py
  Tensile/Source/CMakeLists.txt
  Tensile/Source/lib/source/hip/CMakeLists.txt
  Tensile/Source/lib/source/ocl/CMakeLists.txt
  Tensile/Tensile.py
  Tensile/TensileCreateLibrary.py
  Tensile/Tests/hipModuleLoad_timing/Makefile
  Tensile/Tests/unit/test_TensileCreateLibrary.py
Labels: BuildPackaging

#1923 Add profiling CI job
  .gitignore
  .jenkins/profiling.groovy
  Tensile/TensileCreateLibrary.py
  Tensile/Utilities/Profile.py
  docs/sphinx/_toc.yml.in
  docs/src/general-reference.rst
  docs/src/general-reference/environment-variables.rst
Labels: ci:profiling
